<!DOCTYPE html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body style="padding: 50px">
    <div class="alert alert-info" ng-init="greeting{ greeter: 'Marc', message: 'Hellow World!'}">
      <p>
        <input type="text" ng-model="greeting.greeter" size="20">
        <input type="text" ng-model="greeting.message" size="20">
      </p>
        {{greeting.greeter}} wanna shout "{{ greeting.message }}"!
    </div>
  </body>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js" charset="utf-8"></script>
</html>
