<!DOCTYPE html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
      .even{
        color: red;
      }
      .odd{
        color: blue;
      }
    </style>
  </head>
  <body style="padding: 50px">
    <div ng-init="albums = [ { name: 'madrid1309', title: 'Weekend in Madrid', date: '2013-09-01', description: 'Fun weekend visiting the capital of Spain.'},
    { name: 'iceland1404', title: 'A holiday in Iceland', date: '2014-04-10', description: 'Oh boy it\'s really cold in Iceland!!!'},
    { name: 'thailand1210', title: 'Sun and fun in Thailand', date: '2012-10-15', description: 'We ate entirely too much Thai food and had a great time at the beach'},
    { name: 'australia1207', title: 'A wedding in Melbourne', date: '2012-07-20', description: 'We went to visit our friends for their wedding in Australia'}]">
    <input type="text" ng-model="searchFor" size="30"/>
      <p>
        There are {{ albums.length }} albums available to view
      </p>
      <div class="panel panel-primary" ng-repeat="album in albums | filter:searchFor | orderBy:'date'"
      style="float:left; width: 350px; margin-right:10px; min-height: 200px;">
        <div class="panel-heading">{{ album.title }} <div style="float:right">({{ album.date }})</div></div>
        <div style=" padding: 5px;">{{album.description}}</div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js" charset="utf-8"></script>
</html>
